{% extends 'base.html' %}


{% block main %}

<h1>{{ title }}</h1>

<div class="row">
<div class="col-xl-6">
    <p>
    In spring of 2018 I led a team of 9 students that built a 100&nbsp;ft propane flame effect called Big Friendly Flame (BFF) as part of Purdue's AAE&nbsp;535 Propulsion Design, Build, Test class. Professor Carson Slabaugh and Dr. Rohan Gejji taught the class; Walter Productions funded and advised the project. My contributions ranged from project management to detailed engineering design. Additionally, I committed my summer of 2018 to delivering the flame effect to Walter Productions for Burning Man 2018 (end of August), even after the class was completed.
    </p>
    <p>
    I structured our semester into a three-step approach: research/model <a href="#flame-height">flame heights</a>, quickly test a <a href="#preliminary-design">preliminary design</a>, then plan and build a final <a href="#deliverable-design">deliverable design</a>. The difficulty of multiphase turbulent combustion modeling prompted this approach, as well as the limited time in a semester. The completed deliverable design successfully produced over 100&nbsp;ft flames in a manner conducive to operation in the isolated Black Rock desert, where Burning Man takes place.
    </p>
</div>
<div class="col-xl-1"></div>
<div class="col-xl-5 vert-center">
    <figure>
        <video class="image-filled pb-1" poster="/static/img/projects/big-friendly-flame/bff-final-video.jpg" controls>
            <source src="/static/img/projects/big-friendly-flame/bff-final-video.mp4" type="video/mp4">
        </video>
        <figcaption>Final BFF video for the AAE 535 class.</figcaption>
    </figure>
</div>
</div>

<h2 id="flame-height">Flame Height Prediction</h2>

<h2 id="preliminary-design">Preliminary Design</h2>

<h2 id="deliverable-design">Deliverable Design</h2>

<h3>Fluids System</h3>

<h3>Structure</h3>

<h3>Electronics/Control</h3>

<h3>Burning Man 2018</h3>

{% endblock %}
