body {
    font-family: Arial;
    line-height: 1.35914091423;
}

body a {
    text-decoration: none;
}

figcaption {
    color: #777777;
}

#main {
    padding: 50px 10%;
}

#main h1 {
    margin-bottom: 15px;
    border-bottom: 1px solid #888;
}

.image-filled {
    max-width: 100%;
    height: auto;
    display: block;
}

#contact {
    white-space: nowrap;
}
