body {
    font-family: Arial;
    line-height: 1.35914091423;
}

figcaption {
    color: #777777;
}

#main {
    padding: 50px 10%;
}

#main h1 {
    margin-bottom: 15px;
    border-bottom: 1px solid #888;
}

.image-filled {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-text {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1% 5%;
}

.image-container {
    position: relative;
}

#contact {
    white-space: nowrap;
}
