<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/sidebar.js"></script>
    <title>{{ title }}</title>
</head>

<body>

<button class="sidebar-button open-button" onclick="openNav()">&#9776;</button>

<div id="main-sidebar" class="sidebar">
    <button class="sidebar-button close-button" onclick="closeNav()">&#9776;</button>
    <a href="#">Home</a>
    <a href="#">Projects</a>
    <a href="#">Publications</a>
    <a href="#">Book&nbsp;Reviews</a>
    <a href="#">Curriculum&nbsp;Vitae</a>
</div>

<div id="main">
    {% block main %}
    {% endblock %}
</div>

</body>
</html>
