{% extends 'base.html' %}


{% block main %}

<div class="row">
<div class="col-xl-4 d-flex align-items-center">
    <img class="image-filled pb-3" src="/static/img/hobbies/climbing.jpg">
</div>
<div class="col-xl-1"></div>
<div class="col-xl-7 d-flex align-items-center">
    <p>
    <b>Climbing</b> has been my go-to sport since graduating from a 20&nbsp;year soccer career. I really enjoy the combination of strength, technique, planning, and concentration required to complete difficult climbs. Since my start in 2019, I have had the pleasure of climbing at Red River Gorge, New River Gorge, Joshua Tree, Malibu Creek State Park, and Texas Canyon (in CA). Although I mostly find myself on sport climbs, I do enjoy the occasional boulder such as at the Happy Boulders in Bishop or Skofield Park in Santa Barbara.
    </p>
</div>
</div>

<div class="row">
<div class="col-xl-4 d-flex align-items-center">
    <img class="image-filled pb-3" src="/static/img/hobbies/biking.jpg">
</div>
<div class="col-xl-1"></div>
<div class="col-xl-7 d-flex align-items-center">
    <p>
    <b>Biking</b> is my primary form of transporation and I am truly happiest when I can commute to/from work by bicycle. My four years of studies at Purdue University involved biking 6&nbsp;miles from home to Zucrow Labs each morning, 3&nbsp;miles to/from classes, and another 6&nbsp;miles home each day. Commuting at 15&nbsp;mph is so much more satisfying than flying across highways or sitting in traffic, especially when traveling through nature. I may not be the biggest fan of biking for sport, but as a form of carbon-free transportation it can't be beat!
    </p>
</div>
</div>

<div class="row">
<div class="col-xl-4 d-flex align-items-center">
    <img class="image-filled pb-3" src="/static/img/hobbies/hiking.jpg">
</div>
<div class="col-xl-1"></div>
<div class="col-xl-7 d-flex align-items-center">
    <p>
    <b>Hiking</b>
    </p>
</div>
</div>

<div class="row">
<div class="col-xl-4 d-flex align-items-center">
    <img class="image-filled pb-3" src="/static/img/hobbies/surfing.jpg">
</div>
<div class="col-xl-1"></div>
<div class="col-xl-7 d-flex align-items-center">
    <p>
    <b>Surfing</b>
    </p>
</div>
</div>

<div class="row">
<div class="col-xl-4 d-flex align-items-center">
    <img class="image-filled pb-3" src="/static/img/hobbies/snowboarding.jpg">
</div>
<div class="col-xl-1"></div>
<div class="col-xl-7 d-flex align-items-center">
    <p>
    <b>Snowboarding</b>
    </p>
</div>
</div>

<div class="row">
<div class="col-xl-4 d-flex align-items-center">
    <img class="image-filled pb-3" src="/static/img/hobbies/scuba.jpg">
</div>
<div class="col-xl-1"></div>
<div class="col-xl-7 d-flex align-items-center">
    <p>
    <b>Scuba</b>
    </p>
</div>
</div>

{% endblock %}
