{% extends 'base.html' %}


{% block main %}

<div id="home-landscape" class="row">
    <figure>
        <img id="home-landscape-image" src="/static/img/santa-barbara.jpg">
        <figcaption>Santa Barbara coastline from Arlington Peak.</figcaption>
    </figure>
</div>

<div class="row">
<div id="about-me" class="col-md-6">
    <h1>About Me</h1>
    <p>
    This is a test.
    </p>
</div>
<div id="contact" class="col-md-6">
    <h1>Contact</h1>
    <p>
    Philip Piper<br>
    Aerospace Research Engineer<br>
    Combustion Devices Branch<br>
    <a href="https://www.afrl.af.mil/">Air Force Research Laboratory</a><br>
    10 E. Saturn Blvd.<br>
    Edwards AFB, CA 93524<br>
    <br>

    <i class="fa fa-envelope"></i>
    <a href="mailto:piper.m.philip@gmail.com">piper.m.philip@gmail.com</a><br>

    <i class="fa fa-brands fa-linkedin"></i>
    <a href="https://www.linkedin.com/in/philip-piper/">LinkedIn</a><br>

    <i class="fa fa-brands fa-researchgate"></i>
    <a href="https://www.researchgate.net/profile/Philip-Piper-2">
        ResearchGate</a><br>

    <i class="fa fa-brands fa-github"></i>
    <a href="https://github.com/phiper5/">GitHub</a><br>
</div>
</div>

{% endblock %}
