<div class="row d-flex justify-content-center">
    <div class="col-lg-1"></div>
    <div class="col-lg-5 d-flex justify-content-center">
        <figure>
            <img class="img-fluid pb-1" src="{{ left_src }}">
            <figcaption>{{ left_caption }}</figcaption>
        </figure>
    </div>
    <div class="col-lg-5 d-flex justify-content-center">
        <figure>
            <img class="img-fluid pb-1" src="{{ right_src }}">
            <figcaption>{{ right_caption }}</figcaption>
        </figure>
    </div>
    <div class="col-lg-1"></div>
</div>
