{% extends 'base.html' %}


{% block main %}

<h1>Outdoors</h1>

<div class="row">
<div class="col-xl-4 d-flex align-items-center">
    <img class="image-filled pb-3 lazy" data-src="/static/img/outdoors/climbing.jpg">
</div>
<div class="col-xl-8 d-flex align-items-center">
    <p>
    <b>Climbing</b> has been my go-to sport since graduating from a 20&nbsp;year soccer career. I really enjoy the combination of strength, technique, planning, and concentration required to complete difficult climbs. Since my start in 2019, I have had the pleasure of climbing at Red River Gorge, New River Gorge, Joshua Tree, Malibu Creek State Park, and Texas Canyon (in CA). Although I mostly find myself on sport climbs, I do enjoy the occasional boulder such as at the Happy Boulders in Bishop or Skofield Park in Santa Barbara.
    </p>
</div>
</div>

<div class="row">
<div class="col-xl-4 d-flex align-items-center">
    <img class="image-filled pb-3 lazy" data-src="/static/img/outdoors/biking.jpg">
</div>
<div class="col-xl-8 d-flex align-items-center">
    <p>
    <b>Biking</b> is my primary form of transporation and I am truly happiest when I can commute to/from work by bicycle. My four years of studies at Purdue University involved biking 6&nbsp;miles from home to Zucrow Labs each morning, 3&nbsp;miles to/from classes, and another 6&nbsp;miles home each day. Commuting at 15&nbsp;mph is so much more satisfying than flying across highways or sitting in traffic, especially when traveling through nature. I may not be the biggest fan of biking for sport, but as a form of carbon-free transportation it can't be beat!
    </p>
</div>
</div>

<div class="row">
<div class="col-xl-4 d-flex align-items-center">
    <img class="image-filled pb-3 lazy" data-src="/static/img/outdoors/hiking.jpg">
</div>
<div class="col-xl-8 d-flex align-items-center">
    <p>
    <b>Hiking</b> with friends through nature may be my favorite group activity. There is something about escaping society that feels so good. And surrounding myself with nature is a constant reminder of the protections required to preserve these places for future generations. Previously, my main interest was long distance trail running, where the miles melt away through mountain passes. But a recent lumbar back diagnosis limits me from highly repetitive impact activities, so I will settle for hiking and consider myself lucky!
    </p>
</div>
</div>

<div class="row">
<div class="col-xl-4 d-flex align-items-center">
    <img class="image-filled pb-3 lazy" data-src="/static/img/outdoors/surfing.jpg">
</div>
<div class="col-xl-8 d-flex align-items-center">
    <p>
    <b>Surfing</b> has brought me much closer to the ocean. I was never an ocean/beach person before winter of 2021 when I picked up surfing. The beach was always associated with crowded shores, burning skin, and lazy days; none of which I particularly care much for. I love how relaxed, yet technical, catching waves can be. And I was quite surprised when, despite having climbed for a few years, surfing still kicked my butt. I still find myself kooking about a little more than I would like, but hopefully that will change in the coming years!
    </p>
</div>
</div>

<div class="row">
<div class="col-xl-4 d-flex align-items-center">
    <img class="image-filled pb-3 lazy" data-src="/static/img/outdoors/snowboarding.jpg">
</div>
<div class="col-xl-8 d-flex align-items-center">
    <p>
    <b>Snowboarding</b> goes way back to annual childhood vacations and had fallen off my radar through undergraduate and graduate school. Some near and dear family memories involved skiing/snowboarding, many of which involved rolling down steep slopes or running into large trees. With school out of the way and life in my hands, I would have thought that snowboarding would become a more common adventure. But it is hard to justify long trips to mountain resorts that charge heftily; maybe an electric car will change that someday.
    </p>
</div>
</div>

<div class="row">
<div class="col-xl-4 d-flex align-items-center">
    <img class="image-filled pb-3 lazy" data-src="/static/img/outdoors/scuba.jpg">
</div>
<div class="col-xl-8 d-flex align-items-center">
    <p>
    <b>Scuba</b> diving was a fun distraction while I studied at Purdue, with the caveat that scuba in Indiana leaves much to be desired. Our group of friends learned how to dive in a low visibility quarry filled with purposefully sunken vehicles and playground attractions. We were told that if we could dive in this nasty quarry, with 2&nbsp;feet of visibility, then we could do so anywhere. I think that my biggest gripe with scuba was its lack of physical activity, even though diving may be more interesting from a technical perspective than other sports.
    </p>
</div>
</div>

{% endblock %}
