{% extends 'base.html' %}


{% block main %}

<div class="row">
<div class="col-xl-12">
    <h1>Projects</h1>
</div>
</div>

{% for p_html in project_htmls %}
    {% if loop.index0 % 4 == 0 %}
        {% if loop.index0 > 0 %}
            </div>
        {% endif %}
        <div class="row">
    {% endif %}
    <div class="col-md-6 col-lg-4 col-xl-3 py-3">
        <a href="{{ project_links[loop.index0] }}">
        <div class="image-container">
            <img class="img-thumbnail image-filled image-link" src="{{ project_pics[loop.index0] }}">
            <div class="image-text">{{ p_html|safe }}</div>
        </div>
        </a>
    </div>
{% endfor %}
{% if project_htmls|length > 0 %}
    </div>
{% endif %}

{% endblock %}
