{% extends 'base.html' %}


{% block main %}

<div class="row">
<div class="col-xl-12">
    <h1>Projects</h1>
</div>
</div>

<div class="row">
<div class="col-md-3 my-3">
    <img class="image-filled" src="/static/img/bulldogs-racing.jpg"></img>
</div>
<div class="col-md-3 my-3">
    <img class="image-filled" src="/static/img/big-friendly-flame.jpg"></img>
</div>
<div class="col-md-3 my-3">
    <img class="image-filled" src="/static/img/mon-freeze.jpg"></img>
</div>
<div class="col-md-3 my-3">
    <img class="image-filled" src="/static/img/bulldogs-racing.jpg"></img>
</div>
</div>

<div class="row">
<div class="col-md-3 my-3">
    <img class="image-filled" src="/static/img/bulldogs-racing.jpg"></img>
</div>
<div class="col-md-3 my-3">
    <img class="image-filled" src="/static/img/big-friendly-flame.jpg"></img>
</div>
<div class="col-md-3 my-3">
    <img class="image-filled" src="/static/img/bulldogs-racing.jpg"></img>
</div>
<div class="col-md-3 my-3">
    <img class="image-filled" src="/static/img/bulldogs-racing.jpg"></img>
</div>
</div>

{% endblock %}
