{% extends 'base.html' %}


{% block main %}

<div class="row">
<div class="col-xl-12">
    <h1>Projects</h1>
</div>
</div>

<div class="row">
<div class="col-md-3 py-3">
    <a href="/projects/bulldogs-racing">
    <div class="image-container">
        <img class="image-filled" src="/static/img/bulldogs-racing.jpg">
        <div class="image-text">Bulldogs<br>Racing</div>
    </div>
    </a>
</div>
<div class="col-md-3 my-3">
    <div class="image-container">
        <img class="image-filled" src="/static/img/big-friendly-flame.jpg">
        <div class="image-text">Big<br>Friendly<br>Flame</div>
    </div>
</div>
<div class="col-md-3 my-3">
    <div class="image-container">
        <img class="image-filled" src="/static/img/liquid-rocketry-offset.jpg">
        <div class="image-text">Liquid<br>Rocketry</div>
    </div>
</div>
<div class="col-md-3 my-3">
    <div class="image-container">
        <img class="image-filled" src="/static/img/mon-freeze.jpg">
        <div class="image-text">Propellant<br>Characterization</div>
    </div>
</div>
</div>

<div class="row">
<div class="col-md-3 my-3">
    <img class="image-filled" src="/static/img/bulldogs-racing.jpg">
</div>
<div class="col-md-3 my-3">
    <img class="image-filled" src="/static/img/big-friendly-flame.jpg">
</div>
<div class="col-md-3 my-3">
    <img class="image-filled" src="/static/img/bulldogs-racing.jpg">
</div>
<div class="col-md-3 my-3">
    <img class="image-filled" src="/static/img/bulldogs-racing.jpg">
</div>
</div>

{% endblock %}
